Flask==3.0.3                 # Framework web utama
Flask-Bcrypt==1.0.1          # Hash password menggunakan bcrypt
email-validator==2.2.0       # Validasi format email
bcrypt==4.1.3                # Library bcrypt dasar
authlib==1.7.2               # Library untuk otentikasi
python-dotenv==0.21.0        # Load variabel lingkungan dari file .env
pymysql
cloudinary
resend
gunicorn
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.36
midtransclient