{% extends "layouts/base.html" %}

{% block title %}
Ganti Password
{% endblock %}

{% block css %}

<link
rel="stylesheet"
href="{{ url_for(
    'static',
    filename='css/auth.css'
) }}">

{% endblock %}

{% block content %}

<div class="akun-container">

    <div class="akun-card password-card">

        <div class="akun-header">

            <h2>

                Ganti Password

            </h2>

        </div>

        <div class="password-body">

            {% with messages =
            get_flashed_messages(with_categories=true) %}

                {% if messages %}

                    {% for category,message in messages %}

                    <div class="alert alert-{{ category }}">

                        {{ message }}

                    </div>

                    {% endfor %}

                {% endif %}

            {% endwith %}

            <form
            method="POST">

                <label>

                    Password Lama

                </label>

                <input
                type="password"
                name="old_password"
                required>

                <label>

                    Password Baru

                </label>

                <input
                type="password"
                name="new_password"
                required>

                <label>

                    Konfirmasi Password Baru

                </label>

                <input
                type="password"
                name="confirm_password"
                required>

                <div class="password-action">

                    <a
                    href="/akun"
                    class="btn-cancel">

                        Batal

                    </a>

                    <button
                    type="submit"
                    class="btn-save">

                        Simpan Password

                    </button>

                </div>

            </form>

        </div>

    </div>

</div>

{% endblock %}